<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <!--
            We clear the package sources to make sure we're only using our internal package source,
            which also acts as proxy for the official nuget.org
        -->
        <clear />
        <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
    </packageSources>
    <packageSourceMapping>
        <packageSource key="nuget.org">
            <package pattern="*" />
        </packageSource>
    </packageSourceMapping>
</configuration>
